<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
{% csrf_token %}
Welcome {{e}}
fuuk da {{r}}
<form action="" method="post">
     {% csrf_token %}
    <label for="your_name">Rentrez une nouvelle tache : </label>
    <input id="name" type="text" name="name" value="">
    <input type="submit" value="OK">
</form>
</body>
</html>